<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美少女</string>
		<key>category</key>
		<string>2</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/bishoujo.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一般作品</string>
		<key>category</key>
		<string>3</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/character_figure.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海外作品</string>
		<key>category</key>
		<string>4</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/foreign_figure.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>コレクショントイ</string>
		<key>category</key>
		<string>5</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/trading_figure.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ガンダムトイ</string>
		<key>category</key>
		<string>6</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/gundam.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ロボットトイ</string>
		<key>category</key>
		<string>7</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/robots.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特撮トイ</string>
		<key>category</key>
		<string>8</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/tokusatsu.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ドール</string>
		<key>category</key>
		<string>9</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/dolls.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TVゲーム,携帯ゲーム</string>
		<key>category</key>
		<string>10</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/video_games.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>書籍,全巻コミック</string>
		<key>category</key>
		<string>11</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/books.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BD,DVD,CD</string>
		<key>category</key>
		<string>12</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/media.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>カードゲーム</string>
		<key>category</key>
		<string>13</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/card_games.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>トレーディングカード</string>
		<key>category</key>
		<string>14</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/trading_card.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>キャラグッズ,コスプレ</string>
		<key>category</key>
		<string>15</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/character_goods.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>スケールモデル</string>
		<key>category</key>
		<string>16</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/scale.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ミニカー</string>
		<key>category</key>
		<string>17</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/car_models.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>鉄道模型</string>
		<key>category</key>
		<string>18</string>
		<key>allproducts</key>
		<string>http://www.amiami.jp/top/page/c/train_models.html</string>
	</dict>
</array>
</plist>
